
extends /carolina/base/bootstrap_base

block css
  link(rel="stylesheet" href="/static/carolina/vendor/bootswatch/flatly/bootstrap.min.css")
  link(rel="stylesheet" href="/static/carolina/vendor/fontawesome/css/all.css")

block body
  #app

block append js
  script(src="/static/carolina/admin/app.vue.js")

